body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    /* backgroung-color: white; */
    color: white;
    overflow: hidden; 
}


.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 40px;
    box-sizing: border-box;
}

header {
    text-align: center;
}

h1 {
    margin: 0;
}

.subtitle {
    margin-top: 5px;
    color: #94a3b8;
}


.game-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    gap: 30px;
    padding-top: 20px; /
}

.battle-lane {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 500px;
}

/* Slots de Batalha */
.panel {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
}

.player-slot {
    border: 2px dashed #3b82f6;
    cursor: pointer;
    font-size: 2em;
}

.player-slot:hover {
    background: rgba(59, 130, 246, 0.3);
    transform: none; 
}

.enemy-slot {
    border: 2px solid #ef4444;
    font-size: 2em;
}

#fight-btn {
    display: block;
    /* margin: 30px auto; */
    padding: 0px 40px;
    font-size: 4em;
    font-weight: bold;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(239, 68, 68, 0.3);
}

#fight-btn:hover {
    background-color: #f87171;
    transform: translateY(-2px);
}

.footer-area {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    width: 100%;
}

.unit-list {
    display: flex;
    gap: 0; 
    background: rgba(59, 130, 246, 0.1); 
    border: 2px solid #3b82f6;           
    border-radius: 12px;                 
    overflow: hidden;                    
}

.unit-slot {
    width: 80px;  
    height: 60px;
    border: none;
    border-radius: 0; 
    background: transparent;
    cursor: pointer;
    transition: background 0.2s;
    border-right: 1px solid rgba(59, 130, 246, 0.3);
    font-size: 2em;
}

.unit-slot:last-child {
    border-right: none;
}

.unit-slot:hover {
    background: rgba(59, 130, 246, 0.3);
    transform: none; 
}
